body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #333;
    font-family: sans-serif;
}

.keyboard-case {
    background-color: #f7e08b;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    position: relative;
}

.side-text {
    margin-top: 15px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.side-text-eng {
    display: block;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 1px;
}

#button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

button {
    width: 120px;
    height: 120px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 12px;
    line-height: 1.3;
    text-align: center;
    padding: 10px;
    color: #333;
    transition: all 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
    border-bottom-width: 8px;
}

button.glowing-1 {
  box-shadow: 0 0 20px 5px rgba(255, 153, 0, 0.8),
              0 0 10px 2px rgba(255, 153, 0, 0.6) inset;
}

button.glowing-2 {
  box-shadow: 0 0 20px 5px rgba(255, 0, 255, 0.8),
              0 0 10px 2px rgba(255, 0, 255, 0.6) inset;
}

button.glowing-3 {
  box-shadow: 0 0 20px 5px rgba(0, 255, 0, 0.8),
              0 0 10px 2px rgba(0, 255, 0, 0.6) inset;
}

button.glowing-4 {
  box-shadow: 0 0 20px 5px rgba(51, 51, 255, 0.8),
              0 0 10px 2px rgba(51, 51, 255, 0.6) inset;
}

button:active {
    transform: translateY(4px);
    border-bottom-width: 4px;
}

#button1 {
    background-color: #ffffff;
    border-color: #e0e0e0;
}

#button2 {
    background-color: #fcf3d0;
    border-color: #e8dcb3;
}

#button3 {
    background-color: #fcf3d0;
    border-color: #e8dcb3;
}

#button4 {
    background-color: #ffffff;
    border-color: #e0e0e0;
}